certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
feedparser==6.0.2
idna==2.10
lxml==4.6.2
panflute==2.0.5
progressbar2==3.53.1
pypandoc==1.5
python-utils==2.4.0
PyYAML==5.3.1
sgmllib3k==1.0.0
six==1.15.0
urllib3==1.26.2
